---
import Section from "./section.astro"
import { work } from '../cv.json'
import AnimatedText from "./AnimatedText.astro"
---
<Section title="Experience">
    <ul>
        {
            work.map(({name, startDate, endDate, position, summary, highlights}) => {
                const startYear = new Date(startDate).getFullYear()
                const endYear = endDate != null ? new Date(endDate).getFullYear() : "present"
                const years = `${startYear} - ${endYear}`
                return (
                <li>
                    <article>
                        <header>
                            <div>
                            <h3>{name}</h3>
                            <h4>{position}</h4>
                            </div>
                            <time>{years}</time>
                        </header>
                        <footer>
                            <div id="unique-paragraph" class="paragraph-style">
                                <AnimatedText text={summary} />
                            </div>                           
                        </footer>
                    </article>
                </li>
                )
            })
        }
    </ul>
</Section>

<style>
    /* Diseño para la lista de trabajos */
    ul {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 0;
    }

    li {
        list-style-type: none;
    }

    article h3 {
        font-weight: 500;
        color: var(--text-color);
        font-size: 1.2rem;
    }

    article h4 {
        font-family: monospace;
        font-size: 0.9rem;
        font-weight: 400;
        color: var(--text-color);
        margin-top: 4px;
    }
    .paragraph-style {
        color: var(--text-color);
		font-size: 0.9rem;
		line-height: 1.5;
		margin: 0;
		text-wrap: pretty;
        font-family: monospace;
  }
    header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 8px;
    }

    time {
        color: var(--text-color);
        font-size: 0.85rem;
    }

    footer {
        margin-top: 8px;
        color: var(--text-color);
        font-size: 0.9rem;
        line-height: 1.4;
    }

    /* Media Queries para Pantallas Pequeñas */
    @media (max-width: 768px) {
        /* Estilo para pantallas medianas y pequeñas */
        ul {
            gap: 24px; /* Menor espacio entre los elementos */
        }

        article h3 {
            font-size: 1rem; /* Reducir tamaño de título principal */
        }

        article h4 {
            font-size: 0.8rem; /* Reducir tamaño de subtítulo */
        }

        time {
            font-size: 0.8rem; /* Reducir tamaño de tiempo */
        }

        footer {
            font-size: 0.8rem; /* Reducir tamaño del resumen */
        }
    }

    /* Media Queries para Pantallas Extra Pequeñas (Móviles) */
    @media (max-width: 480px) {
        /* Estilo para pantallas más pequeñas */
        ul {
            gap: 16px; /* Muy poco espacio entre los elementos */
        }

        article h3 {
            font-size: 0.9rem; /* Reducir aún más el tamaño del título principal */
        }

        article h4 {
            font-size: 0.75rem; /* Reducir el tamaño del subtítulo */
        }

        time {
            font-size: 0.75rem; /* Reducir el tamaño del tiempo */
        }

        footer {
            font-size: 0.75rem; /* Reducir el tamaño del resumen */
        }
    }
</style>